table {
    margin: 50px auto 0;
}


th {
    background-color: #CEE5D0;
    font-size: 20px;
    margin-right: 30px; 
    border: 1px solid black;
    padding: 4px;
    font-size: 20px;
}

td {
  width: 150px;
  padding: 4px;
  border: 1px solid black;
  font-size: 17px;
}

.page-content.about {
    max-width: 1000px;
    margin: 0 auto;
}

.resume-button {
    margin-bottom: 20px;
}

@keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
}

.sun {
    animation-duration: 6s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    /* animation: 4s color-change infinite alternate linear; */
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }
    to {
        transform: translate(200px, 50px);
    }
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 40px);
    }
    to {
        transform: translate(200px, 40px);
    }
}

.cloud-front {
    animation: 20s cloud-move infinite alternate ease-in;
}
.cloud-back {
    animation: 20s cloud-move-reverse infinite alternate ease-in;
}
