h3 {
    margin: 0 auto;
    color: #161616;
    font-weight: 700;
}

h3:first-child {
    font-size: 24px;
}

textarea {
    height: 100px;
}

#contact-form {
    background-color: #CEE5D0;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto 0;
    padding: 10px;
    border-radius: 11px;
}

.contact-label {
    font-size: 20px;
    margin: 16px 0 4px;
    font-weight: 600;
    align-self:inherit;
}

.contact-input {
    width: 70%;
    outline: none;
    border-radius: 6px;
    border: #CEE5D0 groove;
}

form button {
    font-size: 19px;
    width: 60%;
}

#contact-form button {
    margin-top: 20px;
}

